.documentation h2 {
	font-size: 22px;
	color: inherit;
	margin: 30px 0 15px;
	max-width: 820px;
}

@media (min-width: 768px) {
	.documentation h2 {
		font-size: 26px;
	}	
}

.documentation h2:first-child {
	margin-top: 0;
}

.documentation ul {
	margin: 15px 0 15px 20px;
	font-size: 18px;
}

.tax-desc {
	margin-top: 40px;
}

.blog-entry .our-works-btn {
	display: inline-block;
	padding: 15px 30px;
	border: 2px solid #FFBA00;
	color: #000;
	text-decoration: none;
}

.our-works-entries .blog-entry-inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}

.blog-entry .our-works-btn:hover {
	background-color: #FFBA00;
}

.entries.our-works-entries .blog-entry.post .blog-entry-header .entry-title {
	text-align: left;
	min-height: 66px;
}